.container {
  height: 80%;
  width: 80%;
  background-color: rgb(47, 51, 49);
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  margin: 9%;

}

@keyframes example {
  from {
    background-color: fuchsia;
  }

  to {
    background-color: yellow;
  }
}